/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}  

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*  less elements  */

// Square
.square(@size) {
  width: @size;
  height: @size;
}

// Box
.box(@width,@height) {
  width: @width;
  height: @height;
}

.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}

// Transitions
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
  -moz-transform: rotate(@degrees);
  -ms-transform: rotate(@degrees);
  -o-transform: rotate(@degrees);
  transform: rotate(@degrees);
}

.transform-origin (@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
  -moz-transform-origin:    @x @y;
  -ms-transform-origin:     @x @y;
  -o-transform-origin:      @x @y;
}

/*  less elements  */

html, body {
  height: 100%;
   font-family: 'Times New Roman', serif;
   font-size: 14px;
}

body {
  min-width: 736px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.active {
  cursor: default;
}

[class^="icon-"], [class*=" icon-"] {
  background: url(../img/sprite.png) no-repeat;
  display: inline-block;
}

.header-site {
  position: relative;
  height: 86px;
}

.logo {
  display: block;
  .box(100%,32px);
  overflow: hidden;
  padding: 3px 0;
  min-width: 270px;
  text-align: justify;
  text-transform: uppercase;
  font-family: Times;
  color: #000;
  text-decoration: none;
  line-height: 32px;
  background-color: #fff;
  
  &:after {
      content: "";
      display: inline-block;
      height: 0;
      overflow: hidden;
      width: 100%;
  }
  .start {
    display: inline-block;
    margin: 0 -3% 0 0;
  }
  .end {
    display: inline-block;
    margin: 0 0 0 -3%;
  }
}

.main-nav {
  height: 50px;
  margin: 18px 0 0 8%;
  
  ul {
    overflow: hidden;
    
    li {
      float: left;
    }
    a {
      display: block;
      height: 50px;
      background: url(../img/bg/menu-sprite.jpg) no-repeat;
      
      &:hover {
        .opacity(0.6);
      }
    }
  }
  .to-portfolio {
    margin-right: 2px;
    width: 136px;
  }
  .to-blog {
    width: 90px;
    background-position: -138px 0;
  }
  .to-team {
    position: relative;
    left: -37px;
    top: 9px;
    width: 111px;
    background-position: -228px -7px;    
  }
}
.main-nav.eng {
  height: 50px;
  margin: 18px 0 0 8%;
  
  .to-portfolio {
    margin-right: 2px;
    width: 129px;
    background-position: 0 -54px;
    height: 56px;
  }
  .to-blog {
    width: 52px;
    height: 53px;
    margin: 0 2px;
    background-position: -134px -54px;
  }
  .to-team {
    left: 0px;
    top: 3px;
    width: 71px;
    background-position: -190px -55px;    
  }
}


.languages {
  position: absolute;
  right: 9.5%;
  top: 44px;
  
  ul {
    overflow: hidden;
    
    li {
      float: left;
      margin-left: 9px;
      
      a {
        font-size: 11px;
        color: #999;
        text-decoration: none;
        border-bottom: 1px solid;
        
        &.active {
          color: #000;
          border: none;
          font-weight: bold;
        } 
      }
    }
  }
}

.wrapper {
  min-height: 300px;
  border-top: 1px solid transparent;
}

.work-item {
  text-decoration: none;
  
  figure {
  display: inline-block;
  padding: 5px 10px 10px;
  width: 133px;
  
  &:hover {
    .first-img {
      display: none;
    }
    .last-img {
      display: block;
    }
  }
  img {
    width: 100%;
    
    &.last-img {
      display: none;
    }
  }
  figcaption {
    color: #000;
    text-transform: uppercase;
    text-align: center;
  }
}
}

.main-slider {
  position: relative;
  top: 100%;
  margin: 0 auto;
  margin-top: -190px;
  width: 90%;
  .main-slider-cnt {
    overflow: hidden;
    height: 185px;
    margin: 0;
    padding: 0;
    
    li {
      float: left;
    }
  }
  .prev-page,.next-page {
    position: absolute;
    z-index: 99;
    top: 0;
  }
  .prev-page {
    left: 0;
  }
  .next-page {
    right: 0;
  }
}

.footer-site {
  position: relative;
  overflow: hidden;
  height: 45px;
  font-size: 12px;
}

.contact-phones {
  .icon-tell {
    margin-right: 2px;
  }
  .icon-skype {
    margin-right: 3px;
  }
}

.copiryght {
  width: 200px;
  float: left;
  margin:0 50px 0 0;
  text-align: right;
}

.contact-mails {
  float: left;
  margin-right: 50px;
  width: 96px;
  
  a {
    color: #000;
  }
}

.contact-phones {
  float: left;
  color: #000;
}

.socials {
  position: relative;
  float: right;
  margin: 10px 6% 0 0;
  
  &:hover {
    .social-list {
      .opacity(1);
    }
    .share {
      left: 39;
      .opacity(0);
      z-index: 1;
    }
  }
  &:hover {
      .s-i-gl {
        left: 0px;
        -moz-animation: round1 0.5s 1;
      }
      .s-i-tw {
        left: 33px;
        -moz-animation: round1 0.5s 1;
      }
      .s-i-fb {
        left: 66px;
        -moz-animation: round1 0.5s 1;
      }
      .s-i-vk {
        left: 99px;
        -moz-animation: round1 0.5s 1;
      }
    }
  .social-list {
    position: relative;
    margin-right: -42px;
    .box(117px, 16px);
    overflow: hidden;
    float: left;
    .transition(all 200ms ease-in-out);
    z-index: 2;
  }
  .share {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 6px;
    padding: 3px 4px 1px 4px;
    background-color: #000;
    color: #fff;
    font: 9px Helvetica, Arial, serif;
    z-index: 5;
    .transition(all 200ms ease-in-out);
  }
  .arrow {
    position: absolute;
    height: 16px;
    right: 34px;
    float: left;
    margin-right: 6px;
    z-index: 3;
  }
  .amount {
    position: relative;
    float: left;
    padding: 0 10px;
    height: 14px;
    border: 1px solid #000;
    border-left: none;
    font: 12px/12px Helvetica, Arial, serif;
    background-color: #fff;
    z-index: 10;
    
    &:before {
      content: "";
      position: absolute; 
      top: -1px;
      left: -6px;
      .box(6px, 16px);
      background: url(../img/sprite.png) no-repeat 0 -367px;
    }
  }
}

 .social-item {
    position: absolute;
    margin-right: 20px;
    
    &.s-i-tw, &.s-i-fb, &.s-i-vk, &.s-i-gl {
      left: -20px;
      .transform-origin(50%, 50%);
      .transition(all 0.25s ease-in-out);
    }
  }

@-webkit-keyframes round1 {
  0%   {
    .rotate(180deg);
  }
  100% {
    .rotate(0deg);
  }
}
@-moz-keyframes round1 {
  0%   {
    .rotate(180deg);
  }
  100% {
    .rotate(0deg);
  }
}
@-o-keyframes round1 {
  0%   {
    .rotate(180deg);
  }
  100% {
    .rotate(0deg);
  }
}
@keyframes round1 {
  0%   {
    .rotate(180deg);
  }
  100% {
    .rotate(0deg);
  }
}

.page-blog {
  background-color: #000;
  
  .languages {
    ul li a {
      color: #fff;
    }
  }
  .main-nav {
    .to-portfolio {
      background-position: 0 -121px;
    }
    .to-blog {
      background-position: -138px -122px;
    }
    .to-team {
      left: -35px;
      background-position: -228px -129px;
    }
    &.eng {
      .to-portfolio {
        background-position: 0 -178px;
      }
      .to-blog {
        background-position: -135px -182px;
      }
      .to-team {
        left: 0px;
        background-position: -191px -183px;
      }
    }
  }
  .copiryght {
    color: #fff;
  }
  .contact-mails a{
    color: #fff;
  }
  .contact-phones {
    color: #fff;
    
    .icon-tell {
      background-position: -67px -367px;
    }
    .icon-skype {
      background-position: -35px -367px;      
    }
  }
  .socials {
    .amount {
      border-color: #fff;
      background-color: #000;
      color: #fff;
      
      &:before {
        background-position: -10px -367px; 
      }
    }
  }
}

/*  icons  */
.icon-tell {
  .square(11px);
  background-position: -51px -367px;
}

.icon-skype {
  .square(11px);
  background-position: -21px -367px;
}
.icon-vk {
  .square(16px);
  background-position: -83px -367px;
}
.icon-tw {
  .square(16px);
  background-position: -104px -367px;
}
.icon-fb {
  .square(16px);
  background-position: -125px -367px;
}
.icon-gl {
  .square(16px);
  background-position: -146px -367px;
}
.icon-arrow {
  .square(16px);
  background-position: -167px -367px;
}
/*  icons  */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}