body {
	background: url(http://desktopwallpapers.org.ua/images/201110/desktopwallpapers.org.ua_5635.jpg);
}
.logo {
	font-family:Mr Dafoe, sans-serif;
  font-size:16em;
  text-align:center;
  text-shadow: 0 -3px 0 #333,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
}
